@import "tailwindcss";
@import "./assets/css/globals.css";

@theme {
  --font-satoshi-light: "Satoshi-Light", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --font-satoshi-medium: "Satoshi-Medium", sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", sans-serif;
  --font-integral-bold: "Integral-Bold", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-satoshi);
  }
  h1,
  h2 {
    font-family: var(--font-integral-bold);
  }
}
